In [13]:
import pandas as pd
import numpy as np

Finally, here are the take home-problems for this week:



1) From df filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0).
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
2) Replace missing values in Min.Price and Max.Price columns with their respective mean (check documentation).
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
3) How to get the rows of a dataframe with row sum > 100?
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
4)Create a 4x4 NumPy array filled with random integers between 1 and 100. Then, reshape this array into two separate 2D arrays, where one represents the rows and the other represents the columns. Write a function, preferably using a lambda function, to calculate the sum of each row and each column separately, and return the results as two separate NumPy arrays

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [6]:
df['Manufacturer'][::20]

0        Acura
20    Chrysler
40       Honda
60     Mercury
80      Subaru
Name: Manufacturer, dtype: object

In [10]:
df['Min.Price'].fillna(df['Min.Price'].mean())

0     12.900000
1     29.200000
2     25.900000
3     17.118605
4     17.118605
        ...
88    16.600000
89    17.600000
90    22.900000
91    21.800000
92    24.800000
Name: Min.Price, Length: 93, dtype: float64

In [11]:
df['Max.Price'].fillna(df['Max.Price'].mean())

0     18.800000
1     38.700000
2     32.300000
3     44.600000
4     21.459091
        ...
88    22.700000
89    22.400000
90    23.700000
91    23.500000
92    28.500000
Name: Max.Price, Length: 93, dtype: float64

In [14]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
df

     0   1   2   3
0   38  21  29  19
1   27  12  14  34
2   31  21  30  34
3   36  25  20  37
4   13  37  39  33
5   10  14  31  17
6   30  17  15  17
7   14  18  38  15
8   27  18  13  36
9   30  12  24  36
10  13  28  38  28
11  38  29  15  16
12  36  26  24  27
13  13  20  11  20
14  10  25  27  37

In [15]:
df_filtered = df[df.sum(axis=1) > 100]
df_filtered

     0   1   2   3
0   38  21  29  19
2   31  21  30  34
3   36  25  20  37
4   13  37  39  33
9   30  12  24  36
10  13  28  38  28
12  36  26  24  27